[submodule "fitmotion_model"]
	path = fitmotion_model
	url = https://github.com/rayhannarindran/fitmotion_model
[submodule "FitMotion-Core"]
	path = FitMotion-Core
	url = https://github.com/PetrusAriaa/FitMotion-Core
[submodule "Fitmotion-predict-service"]
	path = Fitmotion-predict-service
	url = https://github.com/PetrusAriaa/Fitmotion-predict-service
